/** Categories Section *****/

.categories{
    background-color: #dfdfdf;
    padding: 10px 20px;
    
}

.dropdown-category{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.categories:hover{
  background-color: #006A4E;
  color: whitesmoke;
}

/**** Header Section *****/

.header{
    background-color: #f3f3f3;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.2);
 
}

.header ul{
    margin-top: 15px;
    padding: 5px;
}

.header ul li{
    margin-left: 50px;
    transition: .5s;
    font-size: 18px;
    font-weight: 500;

}

.header  ul li a{
    list-style: none;
    text-decoration: none;
    color: #333;
}

.header ul li a:hover{
    color: #FF0000;
}


 .open{
    display: none;
}


  /**** Download App Section ****/

  .app{
    background-color: #37A829;
    padding: 0px 15px;
    border: 1px solid #659c75;
    border-radius: 10px;
    margin: 10px 10px;
    padding-top: 10px;
  }

  .app a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
  }

  .app .downloadIcon{
    color: #f5f5f5;
    padding-right: 5px;
  }

  .app:hover{
    background-color: #43ad61;
  }

/**** Responsive Section ****/
@media(max-width: 990px) {
  .header{
    justify-content: space-around;
    align-items: center;
  }
  .header ul {
    padding-top: 30px;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }

  .header ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  }

  .header .link {
    display: none;
  }

  .header .active{
    height: 10vh;
  }



  .close,
  .open {
    color: #ff014f;
    display: block;
    font-size: 35px;
    z-index: 999;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 35px;
    right: 45%;
  }

  .app{
    padding: 10px;
  }

}

 @media (max-width: 776px) {
  .header{
    justify-content: space-between;
  }
  .open{
    margin-left: 10px;
  }

  } 

  @media (max-width: 415px) {

    .open{
      position: absolute;
      top: 37%;
      left: 20px;
    }
  }

