.middle-nav {
  background: linear-gradient(to right, #134e5e, #71b280);
  color: whitesmoke;
}

.logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/* For Search Area */
.search {
  padding: 40px 0; 
}

.search-box {
  display: flex;
  align-items: center;
  
}

.search-box button {
  flex: 0 0 auto;
  font-weight: bold;
  color: #333;
  padding: 10px 15px;
  border: 2px solid rgba(184, 176, 176, 0.1);
  background: #f3efef;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-box button:hover {
  background-color: aliceblue;
}

.search input {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid rgba(184, 176, 176, 0.1);
  border-left: none;

}

.search-icon {
  font-size: 20px;
  padding: 12px 15px;
  color: #ffffff;
  cursor: pointer;
  background-color: #333;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* For Cart Section */
.cart {
  display: flex;
  gap: 10px;
}

.cart a {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cart a span {
  margin-top: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.cart a:hover {
  color: #ffcc00;
}

.cart a:hover span {
  background-color: #ffcc00;
}

.cart .cart-icon {
  font-size: 35px;
}

/* Responsive Section */
@media (max-width: 990px) {
  .container {
    display: block;
  }

  .logo {
    text-align: center;
    padding-top: 12px;
  }

  .cart {
    padding-bottom: 15px;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .search button{
    display: none;
  }
  .search input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
